{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% block extrahead %}{% endblock %}
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Piedra&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet">
    
</head>
<body>
    


<header id='header'>
    <navbar class="navbar">
        <p class="title">ORT Online</p>
        <ul class="nav_list">
            {% url 'tasks-list' as index %}
            <li class="{% if request.path == index %}nav_item{% else %} home{% endif %}"><a href="{% url 'tasks-list' %}">Главная</a></li>
            <li class="nav_item"><a href="#">Подготовка</a></li>
            <li class="nav_item"><a href="#">Контакты</a></li>
            <li class="nav_item"><a href="#">Профиль</a></li>
            <li class="nav_item"><a href="#"><img src="{% static 'images/user.png' %}" class="avatar"></a></li>
        </ul>
    </navbar>
</header>

{% block 'content' %}
{% endblock %}



    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>