{% extends 'base.html' %}
{% block 'content' %}
{% load static %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'styles/question.css' %}">
{% endblock %}

    <form method="POST" class="allforms">
    <div class="questions_block">
    {% for i in all_questions %}
    <div class="question">
        <p class="number">{{i.номер}}.</p>
        <p class="condition">{{i.условие}}</p>
        {# <p class="base">{{i.введение}}</p> #}
        {% csrf_token %}
        <ul class="answer_list">
            <li class="answer">(а)
                <input type="radio" id="first" value="а_вариант" name={{i.номер}}>
                {{i.a_вариант}}
            </li>
            <li class="answer">(б)
                <input type="radio" id="second" value="б_вариант" name={{i.номер}}>
                {{i.б_вариант}}
            </li>
            <li class="answer">(в)
                <input type="radio" id="third" value="в_вариант" name={{i.номер}}>
                {{i.в_вариант}}
            </li>
            <li class="answer">(г)
                <input type="radio" id="fourth" value="г_вариант" name={{i.номер}}>
                {{i.г_вариант}}
            </li>
            <li class="answer">(д)
                <input type="radio" id="fifth" value="д_вариант" name={{i.номер}}>
                {{i.д_вариант}}
            </li>
        </ul>
    </div>
        {% endfor %}
    </div>
        <div>
            <button type="submit" class="submit">Submit</button>
        </div>
</form>

{% endblock %}